$banner: (theme: url(../img/m-h-day.jpg));

$fontSourcePro: 'Source Sans Pro', sans-serif;

$fontHind: 'Hind', sans-serif;

$fontFresca: 'Fresca', sans-serif;

$bg_ground: #fff;

$cover: #14A0C7;

$frame: #ddce48;

$but: #76ac03;

$gradient: linear-gradient(45deg, #76aa05 10%, #2d5bd9 100%);

$clrs: (
  black: #050515,
  white: #fff,
  greyish: #bbced4,
  dark: #21232E
);